@model Eventchain.Models.Event

@{
    ViewData["Title"] = "Error";
}
<section class="content2 cid-sktwZufd8X" id="content2-s">
    <h1>Create</h1>

    <h4>Error</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <p>You can't see this Event!</p>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    </section>
